@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
nav{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}
nav a{
    margin:0px 15px;
    padding: 5px;
    font-weight: bold;
    
}
nav a img{
    width:30px;
}
a{
    text-decoration: none;
    color: black;
}
footer{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding: 20px;
   
}
footer>a{
    color: white;
    margin: 0px 20px 0px 10px;
    left: 20px;
}
.block{
    background-color: yellow;
    padding: 40px;
    width: 100vw;
    height: 100vh;
}
.flex-block>img{
    width:100%;
}
.emojis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width:90%;
}
#text{
    text-align: center;
    font-size: 3.5em;
    padding: 50px;
}
#button{
    background: white;
    display: inline;
    border-radius: 30px;
    text-align: center;
    padding: 10px 40px;
    margin-left: 44%;
    cursor: pointer;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.flex-block>p{
    padding:10px;
}
.conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
.conatiner p{
    padding:3px;
    font-weight: lighter;
    
}
.conatiner b{
    font-weight: bolder;
}
.lang{
   margin-left: 7%;
   padding: 20px;
}
input[type="text"]{
    width:15%;
    padding: 8px 5px;
    margin: 5px;
}
